.btn {
    --bs-btn-font-weight: 600;
    --bs-btn-hover-color: var(#F7B801);
    --bs-btn-hover-bg: var(#F7B801);
    --bs-btn-hover-border-color: var(#F7B801);
    --bs-btn-active-color: var(#F7B801);
    --bs-btn-active-bg: var(#F7B801);
    --bs-btn-active-border-color: var(#F7B801);
  }

h1 {
    color: #F5FBEF;
    text-align: center;
  }

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9BBF9;
}